<button class="myGame waves-effect waves-light btn" routerLink="/video-games/mygames/:username"><i class="material-icons left">games</i>Mes jeux</button>
<br>
<button class="searchGame waves-effect waves-light btn" routerLink="/video-games/preferences"><i class="material-icons left">search</i>Trouver un jeu</button>
<br>
<button class="randomGame waves-effect waves-light btn" routerLink="/video-games/random"><i class="material-icons left">shuffle</i>Jeu aléatoire</button>
<br>
<button class="allGame waves-effect waves-light btn"><i class="material-icons left">menu</i>Tous les jeux</button>
