<nav>
    <div class="nav-wrapper">
        <a class="brand-logo" routerLink='/video-games/mygames/:username'>J A M</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a routerLink="/video-games/login">Se connecter</a></li>
            <li><a routerLink="/video-games/options">Options</a></li>
            <li><a routerLink="/video-games/preferences">Chercher un jeu</a></li>
            <li><a routerLink="/video-games/mygames/:username">Mes jeux</a></li>
            <li><a routerLink="/video-games/random">Jeu au hasard</a></li>
        </ul>
    </div>
</nav>

<ul class="sidenav" id="mobile-demo">
    <li><a routerLink="/video-games/login">Se connecter</a></li>
    <li><a routerLink="/video-games/options">Options</a></li>
    <li><a routerLink="/video-games/preferences">Chercher un jeu</a></li>
    <li><a routerLink="/video-games/mygames/:username">Mes jeux</a></li>
    <li><a routerLink="/video-games/random">Jeu au hasard</a></li>
</ul>